.container-fluid {
  padding: 3% 15% 7%;
}
#title {
  background-color: #f99417;
  color: white;
  text-align: left;
}
/* title img */
.mob-img {
  width: 35%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}
#features {
  text-align: center;
  padding: 7%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.btn-down {
  margin-right: 5%;
  margin-top: 5%;

  margin-bottom: 5%;
}
body {
  font-family: ubuntu;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Montserrat";
}
h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5l;
}

h3 {
  font-weight: bolder;
  font-size: 2rem;
  color: black;
}

/* navbar text */
.navbar {
  padding-bottom: 3.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 3rem;
  font-weight: bold;
}
.nav-item {
  padding-right: 18px;
  padding-left: 18px;
}
.nav-link {
  font-size: 1.2rem;
}
/* feature */
.feature-icon {
  color: #f99417;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #fc7300;
}
.feature-h3 {
  margin-top: 3%;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 1.5rem;
}
.feature-p {
  color: #8f8f8f;
  font-size: 1.2rem;
}
/* <!-- Testimonials --> */
#testimonials {
  text-align: center;
  background-color: #f2921d;
  color: #fff;
}
.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
em {
  font-weight: bold;
  font-size: x-large;
}
.carousel-item {
  padding: 7% 15%;
}

/* press */
#press {
  background-color: #f2921d;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
/* Pricing */
#pricing {
  text-align: center;
  padding: 100px;
}
.p-col {
  padding: 3% 2%;
}
/* breakpoint */
@media (max-width: 1020px) {
  #title {
    text-align: center;
  }
  .mob-img {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
/* call to action */
#cta {
  background-color: #f99417;
  text-align: center;
  padding: 7% 15%;
}

.btn-cta {
  margin: 5% 1.5% 1%;
}
/* Footer  */
#footer {
  padding: 7%;
  text-align: center;
}
.p-cta {
  color: #8f8f8f;
}
.foot-ico {
  margin: 1%;
}
/* comment */
